# NOTE: .env example file for environment variables
# NOTE: Copy this file to .env and fill in the values

# Switch between local file storage and AWS S3 for data storage -------------------------------------------------------
USE_S3=False

S3_BUCKET=s3_bucket_name

# AWS Credentials -------------------------------------------------------
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_REGION=aws_region 

# Groq API Key -------------------------------------------------------
GROQ_API_KEY=groq_api_key