# Credentials and environment variables ------------------------------------------
.env
.env.local
.env.*.local

# Data files too big to be tracked by git -------------------------------------------------------
data/
*.csv
*.json
*.xlsx

# Models export from notebook too big to be tracked by git -------------------------------------------------------
models/
*.joblib
*.pkl

# Python virtual environment and bytecode files -------------------------------------------------------
venv/
.venv/
env/
__pycache__/
*.pyc
*.py[cod]
*.egg-info/

# Jupyter Notebook --------------------------------------------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# Operating system files -------------------------------------------------------
.DS_Store
Thumbs.db
AppleDouble

# Streamlit secrets file (contains sensitive information) -------------------------------------------------------
.streamlit/secrets.toml
